.install-pwa-popup {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 10px;

  &__modal-content {
    &-item {
      display: flex;
      align-items: center;
    }
  }
}
