@import "app/my-custom-semantic-theme/variables";

.header {
  font-family: "Roboto", sans-serif;
  // height: 60px;
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
}

.header-title {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
}
