/*
 *
 * {{ properCase name }} reducer
 *
 */
import { DEFAULT_ACTION } from './constants';

export const initialState = {};

/* eslint-disable default-case, no-param-reassign */
const {{ camelCase name }}Reducer = (state = initialState, action) =>
 {
    switch (action.type) {
      default: return state
    }
  });

export default {{ camelCase name }}Reducer;
