@import "app/my-custom-semantic-theme/variables";

.user-avatar {
  height: 50px;
  width: 50px;
  margin-right: 12px;
  background: @BlueBadgeColorLight;
  border-radius: 26px;
  position: relative;
  &__text-wrapper {
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
  }
}
