@import 'app/my-custom-semantic-theme/variables.less';

.mobile-list-button {
  color: @TextColorDark;
  background-color: transparent;
  border: 0;
  outline: none;
  &_red {
    color: @RedBadgeColorLight;
  }
  &_green {
    color: @GreenBadgeColorLight;
  }
}
