@import 'app/my-custom-semantic-theme/variables.less';

.loading-page {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 10%;
  &__app-name {
    padding-top: 15px;
    font-size: 32px;
  }
  &__loading {
    padding-top: 15px;
    font-size: 32px;
    width: 100%;
    position: absolute;
    bottom: 75px;
  }
  &__logo {
    padding: 6px;
    width: 80px;
    height: 80px;
    color: @SecondaryColor;
    background-color: @PrimaryColor;
    border-radius: 6px;
    &-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
