@import 'app/my-custom-semantic-theme/variables.less';

.blur-page-with-date-input {
  z-index: 5;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: @BackGroundWithOpacity;
  &__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50vh;
    outline: none;
  }
}
