@import 'app/my-custom-semantic-theme/variables.less';
.footer-button {
  padding: 0 8px;
  user-select: none;
  -webkit-user-select: none;
}

.Dark {
  .ui.primary.disabled.button {
    background-color: #fff;
    border: 0;
    color: @TableHeaderTextColorDark;
  }
}
