@import 'app/my-custom-semantic-theme/variables.less';

.kitchen-icon {
  background-color: @PrimaryColor;
  width: 35px;
  height: 35px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  &__item {
    padding: 6px;
    width: 100%;
    height: 100%;
    color: @SecondaryColor;
  }
}
