@import '../../my-custom-semantic-theme/variables.less';

.notifications {
  position: fixed;
  top: 60px;
  right: 0px;
  width: 100%;
  z-index: 99;
  height: 0;
  overflow: visible;
}

.notifications__list {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  width: 100%;
  list-style: none;
}
